[S3E]
MemSize=20000000
MemSizeDebug=40000000
SysGlesVersion=2
WinPosX=64
WinPosY=16
DispFixRot=FixedPortrait

[GL]
AllowNegativeUniformLocation=1
#VirtualWidth=320
#VirtualHeight=480
#VirtualResolution=1
#VirtualLetterbox=1

[QUICK]
configFileName="quicklua/config.lua"
mainFileName="main.lua"

[BILLING]
androidPublicKey1="public_key_part_1"
androidPublicKey2="public_key_part_2"
androidPublicKey3="public_key_part_3"
androidPublicKey4="public_key_part_4"