<config template="project (default)" platform="project">Created: Wed Feb 26 09:15:12 2014
By: Zachary
Using Template: project (default)

&lt;description to go here><option value="" name="icon" fromDef="true"/>
    <option value="" name="splashscreen" fromDef="true"/>
    <option value="" name="splashscreen-use-all" fromDef="true"/>
    <option value="" name="splashscreen-auto-onblack" fromDef="true"/>
    <option value="Default" name="assets" fromDef="true"/>
    <option value="" name="embed-icf" fromDef="true"/>
    <option value="" name="config" fromDef="true"/>
    <option value="ChefTeam" name="name" fromDef="true"/>
    <option value="ChefTeam" name="caption" fromDef="true"/>
    <option value="Eric" name="provider" fromDef="true"/>
    <option value="(C) Eric" name="copyright" fromDef="true"/>
    <option value="0.0.1" name="version" fromDef="true"/>
    <option value="" name="version-string" fromDef="true"/>
</config>
