<config template="win32-sim (default)" platform="win32-sim">Created: Tue Mar 4 18:31:40 2014
By: Eric
Using Template: win32-sim (default)

&lt;description to go here><option value="" name="win32-icon" fromDef="true"/>
    <option value="" name="target-dir" fromDef="true"/>
    <option value="" name="win32-inno-name" fromDef="true"/>
    <option value="" name="win32-inno-text" fromDef="true"/>
    <option value="" name="win32-inno-bmp" fromDef="true"/>
    <option value="" name="win32-inno-icon" fromDef="true"/>
    <option value="" name="icon" fromDef="true"/>
    <option value="" name="splashscreen" fromDef="true"/>
    <option value="" name="splashscreen-use-all" fromDef="true"/>
    <option value="" name="splashscreen-auto-onblack" fromDef="true"/>
    <option value="Default" name="assets" fromDef="true"/>
    <option value="" name="embed-icf" fromDef="true"/>
    <option value="" name="config" fromDef="true"/>
    <option value="ChefTeam" name="name" fromDef="true"/>
    <option value="ChefTeam" name="caption" fromDef="true"/>
    <option value="Eric" name="provider" fromDef="true"/>
    <option value="(C) Eric" name="copyright" fromDef="true"/>
    <option value="0.0.1" name="version" fromDef="true"/>
    <option value="" name="version-string" fromDef="true"/>
</config>
